@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About Us</title>
</head>
<body class="b2">
    <div class="q1">
        <h3>WHY YOU CREATED THIS WEBSITE?</h3>
        <p>
            All over the world, fashion is one of the most significant things for women. Fashion designs clothes for you and you combine
            them according to your style. Fashion inspires people and your character inspires your style. We thought creating a style
            is not so easy,it has trickies. Then, created this website in order to give you different style ideas by collecting
            all of them and seperating categories in our website.
        </p>
    </div>
    <div class="q2">
        <h3>DO YOU SELL CLOTHES ON YOUR WEBSITE?</h3>
        <p>
            No,we don't. This is not an online shopping website. We just inspire you,just like fashion. But, we will share links
            of the clothes on our website.
        </p>

    </div>

    <div class="q3">
        <h3>HOW CAN I CONTACT YOUR STYLE ADVISORS?</h3>
        <p>
            You can contact them by mail. We will share their mail addresses. You can ask them anything about style. They will answer
            your questions as soon as possible.
        </p>
    </div>

    <div class="q4">
        <h3>DO YOU PUBLISH A FASHION MAGAZINE?</h3>
        <p>
            Unfortunately, we do not but we are thinking about it. We will decide in following days.
        </p>
    </div>
    <div class="us">
        <h3>IF YOU WONDER ABOUT ANYTHING ELSE, JUST CONTACT US. WE'RE LOOKING FORWARD TO REPLYING YOUR QUESTIONS ANYTIME...</h3>
    </div>
    <div class="nt">
    </div>
    <div class="imgC">
        <img id="cream" src="/css/cream.jpg" alt="">
    </div>

    <img id="monica" src="/css/monica.jpg" alt="">
</body>
</html>