@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,, initial-scale=1.0">
    <title>Outfit Styles</title>
</head>
<body class="b3">
    <h3 id="tit"></h3>
    
    
    
    <div id="casual">
        <h2 class="ho">CASUAL OUTFITS:</h2>
        
        <p class="ps">
            Casual outfits are clothes that are suitable for everyday wear and are typically more relaxed
            and comfortable than formal or business attire. They can include items such as jeans, t-shirts,
            sneakers, and casual dresses. Casual outfits are often worn for leisure activities or in informal
            settings, and are not typically worn for more formal occasions or at work. The specific items
            that make up a casual outfit can vary depending on personal style and the occasion, but generally
            they are less dressy and formal than other types of attire.
        </p>
        <img class="i1" src="/css/c3.jpeg" style="width:400px;height:700px" alt="">
        <img class="i2" src="/css/c2.png" style="width:400px;height:700px" alt="">
        <img class="i3" src="/css/c1.jpeg" style="width:400px;height:700px" alt="">
    </div>
    <div id="formal">
        <h2 class="ho">FORMAL OUTFITS</h2>
        
        <p class="ps">
            A formal outfit is a type of clothing that is typically worn for formal or dressy occasions, such as weddings,
            formal dinners, or black tie events. Formal outfits for men often include a tuxedo or a suit with a dress shirt,
            tie, and dress shoes. Formal outfits for women may include a formal dress or gown, a skirt suit,
            or a pantsuit with dressy shoes. Formal attire is typically more dressy and polished than casual or business attire,
            and may require more attention to detail and grooming. Formal outfits may also include accessories such as a cummerbund,
            bow tie, or evening gloves, depending on the occasion and personal style.
        </p>
        <img class="i1" src="/css/f1.jpeg" style="width:400px;height:700px" alt="">
        <img class="i2" src="/css/f2.jpeg" style="width:400px;height:700px" alt="">
        <img class="i3" src="/css/f3.jpeg" style="width:400px;height:700px" alt="">

    </div>
    <div id="sporty">
        <h2 class="ho">SPORTY OUTFITS</h2>
        
        <p class="ps">
            A sporty outfit for women is a type of casual clothing that is suitable for physical activity or casual, everyday wear.
            It may include items such as athletic pants, leggings, sweatpants, or shorts,
            paired with a sports bra, tank top, t-shirt, or sweatshirt. Sporty outfits for women may also include
            comfortable shoes such as sneakers or athletic shoes. These types of outfits are often worn for exercise or
            other physical activities, or for a casual, laid-back look. The specific items that make up a sporty outfit
            can vary depending on the activity and personal style, but they generally have a comfortable, relaxed
            fit and are designed for ease of movement.
        </p>
        <img class="i1" src="/css/s1.jpeg" style="width:400px;height:700px" alt="">
        <img class="i2" src="/css/s2.jpeg" style="width:400px;height:700px" alt="">
        <img class="i3" src="/css/s3.jpg" style="width:400px;height:700px" alt="">
    </div>
    <div>
        <h2 class="ho">BOHEMIAN</h2>
        
        <p class="ps">
            Bohemian style, also known as boho or bohemian chic, is a type of fashion that is inspired by the free-spirited,
            artistic lifestyle of bohemians, who were known for rejecting traditional societal norms and living an unconventional,
            artistic lifestyle. Bohemian style is characterized by a mix of different cultures and influences, and often includes
            elements of ethnic and vintage fashion. It is often associated with a laid-back, carefree attitude and a sense of adventure.
        </p>
        <img class="i1" src="/css/b1.jpeg" style="width:400px;height:700px" alt="">
        <img class="i2" src="/css/b2.jpeg" style="width:400px;height:700px" alt="">
        <img class="i3" src="/css/b3.jpeg" style="width:400px;height:700px" alt="">
    </div>
    <div>
        <h2 class="ho">STREETWEAR</h2>
        
        <p class="ps">
            Streetwear is a type of casual clothing that originated in the skate and surf cultures of California in the 1970s,
            and has since evolved to encompass a wide range of styles and subcultures. It is often associated with youth culture
            and urban fashion, and is characterized by comfortable, casual pieces that are inspired by street style
            and popular culture.
        </p>
        <img class="i1" src="/css/st1.jpeg" style="width:400px;height:700px" alt="">
        <img class="i2" src="/css/st2.jpeg" style="width:400px;height:700px" alt="">
        <img class="i3" src="/css/st3.jpeg" style="width:400px;height:700px" alt="">
    </div>
</body>
</html>
